/* main stylesheet */
* {
  font-family:"Varela Round";
  letter-spacing:.5px;
  color:black;
}
body {
  background-color:white;
  margin:0;
}
header {
  background:#303030;
  margin:0;
  padding:10px;
    background: linear-gradient(to right, #00ffff 0%, #ff00ff 100%) left bottom #303030 no-repeat;
    background-size:100% 5px;
    background-position-x:0px;
}
nav ul {
  padding:0 !important;
  margin:0;
  text-align:center;
  margin-top:6.5px;
}
nav ul li {
  display:inline-block;
}
main {
  width:90%;
  margin:auto;
  margin-bottom:100px;
}
h1 {
  text-align:center;
  font-weight:normal;
  font-size:40px;
  margin:0;text-shadow: #ff00ff 1px -1px 0px, #00ffff -1px 1px 0px;
}
footer {
  background:#303030;
  text-align:center;
  padding:5px 0;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  min-height:19px;
}
header *, nav *, footer * {
  color:white;
}
#logo {
  max-height:63px;
  position:absolute;
}
#discordtag {
  text-align:right;
  position:absolute;
  right:0;
}
#current-page {
	text-shadow: #00ffff -1px 1px 0px;
	text-decoration:underline;
  /* font-style:italic; */
}
nav a {
  text-decoration:none;
  color:white;
  padding:5px 20px;
}
nav a:hover {
  background-color:#424242;
  text-shadow: #ff00ff 1px -1px 0px !important;
}


.grid-container {
  display:grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 2px;
  padding:2px;
  background-color:darkgrey;
}
.grid-row {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  background-color:darkgrey;
}

.grid-item {
  border: 1px solid black;
  background-color:white;
  padding:2px 4px;
  text-align: center;
}

.grid-header {
  font-weight:bold;
}



/* collapsible box from w3schools */
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 






#collapse-box {
    width:40%;
    margin:auto;
}
table, th, td {
  border: 1px solid;
}
table {
  min-width:100%;
  max-width:1000px;
  margin:auto;
  margin-top: 20px;
}
td {
  width:25%;
}








/* from tasks

.grey-bubble {
  background-color: white;
  border:2px solid #f5f5f5;
  border-radius: 5px;
  padding:10px;
} */
/* hsl(180,100%,90%) */
