/* main stylesheet */
* {
  font-family:"Varela Round";
  letter-spacing:.5px;
  color:black;
}
body {
  background-color:white;
  margin:0;
}
header {
  background:#303030;
  margin:0;
  padding:10px;
    background: linear-gradient(to right, #00ffff 0%, #ff00ff 100%) left bottom #303030 no-repeat;
    background-size:100% 5px;
    background-position-x:0px;
}
nav ul {
  padding:0 !important;
  margin:0;
  text-align:center;
  margin-top:6.5px;
}
nav ul li {
  display:inline-block;
}
main {
  width:90%;
  margin:auto;
  margin-bottom:100px;
}
h1 {
  text-align:center;
  font-weight:normal;
  font-size:40px;
  margin:0;text-shadow: #ff00ff 1px -1px 0px, #00ffff -1px 1px 0px;
}
footer {
  background:#303030;
  text-align:center;
  padding:5px 0;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  min-height:19px;
}
header *, nav *, footer * {
  color:white;
}
#logo {
  max-height:63px;
  position:absolute;
}
#discordtag {
  text-align:right;
  position:absolute;
  right:0;
}
#current-page {
	text-shadow: #00ffff -1px 1px 0px;
	text-decoration:underline;
  /* font-style:italic; */
}
nav a {
  text-decoration:none;
  color:white;
  padding:5px 20px;
}
nav a:hover {
  background-color:#424242;
  text-shadow: #ff00ff 1px -1px 0px !important;
}

/* from tasks

.grey-bubble {
  background-color: white;
  border:2px solid #f5f5f5;
  border-radius: 5px;
  padding:10px;
} */
/* hsl(180,100%,90%) */
